/*
https://meyerweb.com/eric/tools/color-blend/#:::hex
http://khroma.co/generator/

*/

html {
    height: 100%;
    width: 100%;
    background-color:#d7d8e7;
    font-family: "Calibri";
  }
  
  a{
    text-align: center;
    text-decoration: none;
    color: #83BCC5;
  }
  
  a.visited{
    color: #AED0D8;
  }
  
  
  body {
      width:100%;
    padding: 0px;
    margin: 0;
  }
  
  img{
      max-width: 100%;
    max-height: 100%;
  }
  
  
  .intro{
    padding: 50px;
    background-color: #093782;
    color: #d7d8e7;
  }
  
  .socials{
    background-color: #093782;
    text-align: center;
  }
  
  .experience{
      padding: 50px;
      background-color: #2669a2;
      text-align: right;
  }
  
  .skills{
      padding: 50px;
      background-color: #6299ba;
  }
  
  .projects{
      padding: 50px;
      background-color: #a4b7d2;
      text-align: right;
  }
  
  .education{
      padding: 50px;
      background-color: #d7d8e7;
  }